/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/montserrat-v25-latin-regular.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/montserrat-v25-latin-600.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/montserrat-v25-latin-600.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/montserrat-v25-latin-700.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/montserrat-v25-latin-700.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/montserrat-v25-latin-800.woff') format('woff'),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('../fonts/montserrat-v25-latin-800.ttf') format('truetype'),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('../fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
:root {
  --grey33: #333333;
  --grey99: #999999;
  --grey22: #222222;
  --grey66: #666666;
  --greyad: #adadad;
  --greyec: #ececec;
  --greydc: #dcdcdc;
  --white: #ffffff;
  --greyca: #cacaca;

  --orangef90: #ff9900;
  --orangeE1670E: #e1670e;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.section {
  padding-top: 107px;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  padding: 25px 44px;
  cursor: pointer;
  background: var(--orangef90);
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  border: 0px;
  transition: background 0.3s ease;
  border: 0px;
  outline: none;
}
.btn:focus,
.btn:hover {
  background: rgba(255, 153, 0, 0.7);
}
.btn:active {
  background: var(--orangeE1670E);
}
.title {
  color: var(--grey33);
  font-size: 48px;
}
@media (max-width: 1224px) {
  .section {
    padding-top: 80px;
  }
}

@media (max-width: 524px) {
  .section {
    padding-top: 60px;
  }
  .title {
    font-size: 24px;
  }
}

/*<===HEADER START===> */

.header {
  padding: 14px 0;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__burger {
  width: 40px;
  height: 33px;
  background-color: var(--white);
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 0px;
  outline: 0px;
  padding: 5px;
}
.header__burger:focus {
  border: 2px solid var(--orangef90);
}
.header__line:not(:last-child) {
  margin-bottom: 8px;
}
.header__line {
  width: 30px;
  height: 2px;
  background-color: var(--grey33);
  transition: color 0.3s ease, transform 0.3s ease;
}
.header__burger:hover .header__line {
  background-color: var(--orangeE1670E);
}
.header__burger:hover .header__line:nth-child(2) {
  transform-origin: right center;
  transform: rotateY(40deg);
}
.header__burger:hover .header__line:nth-child(3) {
  transform-origin: right center;
  transform: rotateY(60deg);
}

.header__logo {
  width: 224px;
  height: 72px;
  outline: none;
  padding: 2px;
}
.header__logo:focus {
  border: 2px solid var(--orangef90);
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  margin-right: 83px;
}

.header__link {
  padding: 5px 0;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--grey33);
  position: relative;
  transition: color 0.3s ease;
  outline: none;
}

.header__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--orangef90);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  opacity: 0;
}

.header__link:hover.header__link:after {
  transform: translateX(0%);
  opacity: 1;
}

.header__link:focus {
  border: 2px solid var(--orangef90);
}

.header__link--active,
.header__link:active {
  color: var(--orangeE1670E);
}
.header__link:focus.header__link:after,
.header__link--active.header__link:after,
.header__link:active.header__link:after {
  transform: translateX(0%);
  background-color: var(--orangeE1670E);
  opacity: 1;
}

.header__search-block {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search-block:active,
.header__search-block:hover {
  min-height: 60px;
  max-width: 539px;
  width: 100%;
  padding: 16px 16px 16px 32px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header__search-block:active .header__search,
.header__search-block:hover .header__search {
  max-width: 395px;
  width: 100%;
  display: block;
  border: 0px;
  border-bottom: 1px solid var(--greydc);
  margin-right: 14px;
  padding-bottom: 10px;
  color: var(--greyad);
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.header__search-block:active .header__icon-close,
.header__search-block:hover .header__icon-close {
  display: block;
}

.header__search {
  display: none;
}

.header__icon-search {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  outline: none;
  background-color: transparent;
}
.header__icon-search svg rect {
  fill: var(--grey33);
  transition: fill 0.3s ease;
}
.header__icon-search svg path {
  stroke: var(--grey33);
  transition: stroke 0.3s ease;
  stroke-width: 2px;
}

.header__icon-search:hover svg rect {
  fill: var(--orangef90);
}
.header__icon-search:hover svg path {
  stroke: var(--orangef90);
}
.header__icon-search:focus {
  border: 2px solid var(--orangef90);
}

.header__icon-close {
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid var(--grey99);
  position: relative;
  transition: border-color 0.3s ease;
  background-color: #fff;
  outline: none;
}
.header__icon-close::after,
.header__icon-close::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--grey99);
  top: calc(50% - 1px);
  left: calc(50% - 8px);
  transition: background-color 0.3s ease;
}
.header__icon-close:after {
  transform: rotate(45deg);
}
.header__icon-close::before {
  transform: rotate(-45deg);
}
.header__icon-close:hover {
  border-color: var(--orangef90);
}
.header__icon-close:hover::after,
.header__icon-close:hover::before {
  background-color: var(--orangef90);
}
.header__icon-close:focus {
  border: 2px solid var(--orangef90);
}
.header__icon-close:active {
  border-color: var(--grey33);
}
.header__icon-close:active::after,
.header__icon-close:active::before {
  background-color: var(--grey33);
}

@media (max-width: 1624px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__logo {
    width: 150px;
    height: 48px;
  }
}
@media (max-width: 840px) {
  .header__search-block:active,
  .header__search-block:hover {
    max-width: 325px;
  }
  .header__search-block:active .header__search,
  .header__search-block:hover .header__search {
    max-width: none;
    padding-bottom: 5px;
    font-size: 16px;
  }
}
@media (max-width: 625px) {
  .header__logo {
    width: 110px;
    height: 35px;
  }
  .header__search-block:active,
  .header__search-block:hover {
    max-width: 250px;
    padding: 7px 5px;
    min-height: 0px;
  }
  .header__search-block:active .header__search,
  .header__search-block:hover .header__search {
    padding-bottom: 5px;
    font-size: 10px;
    margin-right: 5px;
  }
}

/*<===HEADER END===> */

/*<===HERO START===> */

.hero__container {
  width: 100%;

  height: 620px;
  position: relative;
}

.hero__img-block {
  width: 100%;
  height: 620px;
}
.hero__img {
  height: 100%;
}

.hero__info {
  position: absolute;
  top: 107px;
  left: 95px;
  right: 15px;
  bottom: 30px;
}

.hero__title {
  color: var(--white);
  font-size: 70px;
  font-weight: 800;
  max-width: 837px;
  line-height: 80px;
  margin-bottom: 32px;
}

.hero__description {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  max-width: 790px;
  word-spacing: 9px;
  margin-bottom: 95px;
}

.hero__btn {
  margin-bottom: 55px;
}

.hero__pagination-list {
  margin: 0 auto;
  transform: translateX(-40px);
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__pagination-item {
  flex: 0 0 15px;
}

.hero__pagination-link {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--white);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.hero__pagination-link--active {
  opacity: 1;
}
@media (max-width: 1024px) {
  .hero__container {
    height: 668px;
  }

  .hero__img-block {
    height: 668px;
  }

  .hero__info {
    top: 160px;
    left: 77px;
    right: 77px;
    bottom: 30px;
  }

  .hero__title {
    font-size: 60px;
    max-width: 770px;
    line-height: 70px;
    margin-bottom: 16px;
  }

  .hero__description {
    font-size: 20px;
    max-width: 760px;
    margin-bottom: 60px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }
}

@media (max-width: 850px) {
  .hero__container {
    height: 662px;
  }

  .hero__img-block {
    height: 662px;
  }

  .hero__info {
    left: 40px;
    right: 40px;
  }

  .hero__title {
    font-size: 40px;
    max-width: 558px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .hero__description {
    font-size: 18px;
    max-width: 588px;
  }
  .hero__pagination-list {
    transform: translateX(0px);
  }
}
@media (max-width: 468px) {
  .hero__container {
    height: 308px;
  }

  .hero__img-block {
    height: 308px;
  }

  .hero__info {
    left: 22px;
    right: 22px;
    top: 60px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    text-align: center;
    font-size: 20px;
    max-width: auto;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .hero__description {
    font-size: 12px;
    max-width: auto;
    margin-bottom: 32px;
    text-align: center;
    word-spacing: 2px;
  }
  .hero__btn {
    padding: 18px 37px;
    font-size: 12px;
    margin: 0 auto;
  }
  .hero__pagination-list {
    margin-top: 40px;
    width: 70px;
  }
  .hero__pagination-link {
    width: 10px;
    height: 10px;
  }
  .hero__pagination-item {
    flex: 0 0 10px;
  }
}

/*<===HERO END===> */

/*<===ABOUT START===> */

.about__title {
  margin-bottom: 25px;
}

.about__description {
  color: var(--grey33);
  font-size: 16px;
  line-height: 38px;
  max-width: 1235px;
  margin-bottom: 44px;
}

.about__cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.about__img-card {
  grid-row: 1/3;
  position: relative;
  height: 100%;
}
.about__img-block {
  height: 100%;
}

.about__img-card-img {
  width: 100%;
  height: 100%;
}

.about__img-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__img-card-description {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  max-width: 454px;
}

.about__btn {
  padding: 19px 40px;
  background-color: transparent;
  border: 3px solid var(--orangef90);
  font-size: 16px;
}

.about__card {
  padding: 75px 120px 65px 55px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--greyca);
}

.about__card-img-block {
  flex: 1 1 198px;
  margin-right: 50px;
}

.about__card-img {
  width: 100%;
}

.about__card-info {
  flex: 1 1 450px;
}

.about__card-title {
  font-size: 24px;
  font-weight: 700;
  columns: var(--grey33);
  line-height: 20px;
  margin-bottom: 8px;
}

.about__card-description {
  font-size: 16px;
  line-height: 30px;
  columns: var(--grey33);
}

@media (max-width: 1224px) {
  .about__title {
    margin-bottom: 20px;
  }

  .about__description {
    margin-bottom: 50px;
  }

  .about__cards {
    grid-template-rows: repeat(1fr, 4);
    grid-template-columns: 1fr;
  }

  .about__card {
    padding: 65px 77px;
    align-items: center;
  }

  .about__card-img-block {
    flex: 1 1 190px;
  }
}
@media (max-width: 768px) {
  .about__img-card-info {
    padding: 34px 40px;
  }
  .about__card {
    padding: 35px 40px;
  }

  .about__card-img-block {
    flex: 1 1 115px;
  }
}
@media (max-width: 624px) {
  .about__description {
    font-size: 14px;
  }

  .about__cards {
    display: block;
  }

  .about__img-card-info {
    position: relative;
    background-color: var(--white);
    padding: 0px;
    display: block;
    margin-top: 10px;
  }

  .about__img-card-description {
    color: var(--grey33);
    margin-bottom: 10px;
  }

  .about__btn {
    color: var(--orangef90);
    padding: 11px 30px;
    font-size: 12px;
  }
  .about__btn:hover {
    color: var(--white);
  }

  .about__card {
    margin-top: 32px;
    padding: 0px;
    display: block;
    border: 0px;
  }

  .about__card-img-block {
    width: 64px;
    margin-right: 0px;
    margin-bottom: 16px;
  }

  .about__card-img {
    width: 100%;
  }

  .about__card-title {
    font-size: 18px;
  }

  .about__card-description {
    font-size: 14px;
  }
}

/*<===ABOUT END===> */

/*<===HOW START===> */

.how__title {
  margin-bottom: 60px;
}

.how__pogination-list {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}

.how__pogination-item:not(:last-child) {
  margin-right: 85px;
}

.how__pogination-link {
  color: var(--grey33);
  font-size: 18px;
  outline: none;
  border: 0px;
  transition: color 0.3s ease;
}
.how__pogination-link:hover {
  color: var(--orangef90);
}
.how__pogination-link:focus {
  border: 2px solid var(--orangef90);
}
.how__pogination-link--active,
.how__pogination-link:active {
  color: var(--orangeE1670E);
}

.how__card {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.how__card-info {
  flex: 0 0 calc(50% - 30px);
}

.how__card-title {
  color: var(--grey33);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}

.how__card-description {
  color: var(--grey33);
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 50px;
}

.how__card-btn {
  padding: 19px 41px;
  font-size: 16px;
}

.how__card-btn--more {
  margin-right: 32px;
}

.how__card-btn--ok {
  border: 1px solid var(--grey33);
  color: var(--grey33);
  background-color: transparent;
}
.how__card-btn--ok:focus,
.how__card-btn--ok:hover {
  background-color: var(--grey66);
  color: var(--white);
}

.how__card-btn--ok:active {
  background-color: #000;
  color: var(--white);
}

.how__card-img-block {
  flex: 0 0 calc(50% - 30px);
}

.how__card-img {
  height: 100%;
}

@media (max-width: 1224px) {
  .how__title {
    margin-bottom: 50px;
  }

  .how__pogination-list {
    margin-bottom: 50px;
  }
}
@media (max-width: 924px) {
  .how__pogination-list {
    justify-content: space-between;
  }

  .how__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

  .how__card-info {
    order: 2;
    flex: 0 0 100%;
  }

  .how__card-title {
    margin-top: 38px;
    margin-bottom: 8px;
  }

  .how__card-description {
    margin-bottom: 25px;
  }
}

@media (max-width: 624px) {
  .how__title {
    margin-bottom: 16px;
  }
  .how__pogination-list {
    margin-bottom: 16px;
  }

  .how__card-title {
    font-size: 18px;
    margin-top: 0;
  }
  .how__pogination-item:not(:last-child) {
    margin-right: 0;
  }
  .how__pogination-link {
    font-size: 14px;
  }
  .how__card-description {
    font-size: 14px;
  }
  .how__card-btn--more {
    margin-right: 10px;
    padding: 11px 30px;
    font-size: 12px;
  }

  .how__card-btn--ok {
    padding: 11px 30px;
    font-size: 12px;
  }
}

/*<===HOW END===> */

/*<===FAQ START===> */

.faq__container {
  padding-bottom: 100px;
}

.faq__title {
  margin-bottom: 32px;
}

.faq__item {
  border-bottom: 1px solid var(--greyca);
  border-top: 1px solid var(--greyca);
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.faq__header-title {
  color: var(--grey33);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  transition: color 0.3s ease;
}

.faq__header-btn {
  width: 50px;
  height: 50px;
  border: 0px;
  background-color: var(--greyec);
  border-radius: 100%;
  position: relative;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.faq__header-btn:after,
.faq__header-btn::before {
  content: '';
  width: 24px;
  height: 2px;
  background-color: var(--grey66);
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
  transition: transform 0.3s ease;
}
.faq__header-btn:after {
  transform: rotate(90deg);
}

.faq__footer {
  display: none;
}

.faq__item:hover,
.faq__item:focus {
  border-bottom: 1px solid var(--orangef90);
  border-top: 1px solid var(--orangef90);
}
.faq__item:hover .faq__header-title,
.faq__item:focus .faq__header-title {
  color: var(--orangef90);
}
.faq__item:hover .faq__header-btn,
.faq__item:focus .faq__header-btn {
  background-color: var(--orangef90);
}

.faq__item:hover .faq__header-btn:after,
.faq__item:hover .faq__header-btn::before,
.faq__item:focus .faq__header-btn:after,
.faq__item:focus .faq__header-btn::before {
  background-color: var(--white);
}

.faq__item--active .faq__header-btn:after,
.faq__item:active .faq__header-btn:after {
  transform: rotate(135deg);
}
.faq__item--active .faq__header-btn::before,
.faq__item:active .faq__header-btn::before {
  transform: rotate(225deg);
}

@media (max-width: 1024px) {
  .faq__container {
    padding-bottom: 60px;
  }
  .faq__title {
    margin-bottom: 16px;
  }
  .faq__header {
    padding: 30px 0;
  }
  .faq__header-title {
    font-size: 20px;
  }
}

@media (max-width: 654px) {
  .faq__header-title {
    font-size: 14px;
  }
  .faq__header-btn {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }

  .faq__header-btn:after,
  .faq__header-btn::before {
    content: '';
    width: 16px;
    height: 2px;
    background-color: var(--grey66);
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
    transition: transform 0.3s ease;
  }
}
/*<===FAQ END===> */

/*<===FOOTER START===> */

.footer {
  background-color: var(--grey22);
  padding: 50px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 224px;
  height: 72px;
  display: block;
  margin-bottom: 20px;
  outline: none;
}
.footer__logo:focus {
  border: 2px solid var(--orangef90);
}

.footer__img {
  width: 100%;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__nav-link {
  color: var(--greyca);
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  outline: none;
  transition: color 0.3s ease;
}
.footer__nav-link:hover {
  color: var(--orangef90);
}
.footer__nav-link:focus {
  border: 2px solid var(--orangef90);
}
.footer__nav-link--active,
.footer__nav-link:active {
  color: var(--orangeE1670E);
}

.footer__social-list {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-link {
  width: 64px;
  height: 64px;
  display: block;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-link svg path {
  fill: #7c7c7c;
  transition: fill 0.3s ease;
}

.footer__social-link:hover svg path {
  fill: var(--orangef90);
}
.footer__social-link:focus {
  border: 2px solid var(--orangef90);
}
.footer__social-link--active svg path,
.footer__social-link:active svg path {
  fill: var(--orangeE1670E);
}

.footer__form {
  max-width: 570px;
  width: 100%;
}

.footer__form-title {
  color: var(--greyca);
  font-size: 48px;
  margin-bottom: 25px;
}
.footer__input,
.footer__textarea {
  width: 100%;
  display: block;
  padding: 14px 24px;
  color: var(--greyca);
  font-size: 16px;
  line-height: 32px;
  background-color: #414141;
  outline: none;
  border: 0px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.footer__input {
  margin-bottom: 25px;
}

.footer__textarea {
  height: 150px;
  margin-bottom: 32px;
}
.footer__input:focus,
.footer__textarea:focus,
.footer__input:hover,
.footer__textarea:hover {
  background-color: var(--grey66);
}
.footer__input:active,
.footer__textarea:active {
  background-color: var(--grey66);
  color: var(--white);
}
.footer__btn {
  padding: 19px 38px;
  font-size: 16px;
  margin-right: 22px;
}
.footer__checkbox {
  display: none;
}
.footer__label {
  padding-left: 20px;
  color: var(--greyca);
  font-size: 16px;
  line-height: 32px;
  position: relative;
}
.footer__label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white);
  top: calc(50% - 8px);
}

.footer__checkbox:checked ~ .footer__label::before {
  background: url(../img/Check.svg);
}

.footer__info {
  max-width: 363px;
  width: 100%;
}

.footer__text {
  color: var(--greyca);
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 1248px) {
  .footer__info {
    display: none;
  }
}
@media (max-width: 864px) {
  .footer__container {
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
  }
  .footer__menu {
    order: 2;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
  .footer__nav {
    display: none;
  }

  .footer__social-link {
    width: 60px;
    height: 60px;
  }

  .footer__form {
    margin-bottom: 50px;
  }
}
@media (max-width: 556px) {
  .footer__container {
    align-items: center;
  }
  .footer {
    padding: 32px 0;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
    margin-bottom: 16px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 16px;
  }

  .footer__social-link {
    width: 32px;
    height: 32px;
  }

  .footer__form {
    border-bottom: 1px solid #595959;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .footer__form-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .footer__input,
  .footer__textarea {
    padding: 13px 20px;
    font-size: 14px;
  }
  .footer__textarea {
    margin-bottom: 25px;
  }

  .footer__btn {
    padding: 12px 23px;
    font-size: 12px;
    margin: 0 auto 10px;
    display: block;
  }

  .footer__label {
  }
  .footer__label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--white);
    top: calc(50% - 8px);
  }

  .footer__checkbox:checked ~ .footer__label::before {
    background: url(../img/Check.svg);
  }

  .footer__info {
    max-width: 363px;
    width: 100%;
  }

  .footer__text {
    color: var(--greyca);
    font-size: 16px;
    line-height: 32px;
  }
}

/*<===FOOTER END===> */
